@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #064C4F;
  --color-secundary: #F7F2DD;
  --background-primary: #F3F6F5;
  --background-secundary: #064C4F;
  --button-primary: #BBEA70;
  --white: #FFFFFF;
  --black: #000000;
}

body {
  background: var(--background-primary);
  font-family: 'Montserrat', sans-serif;
}
